fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
alembic
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv==1.1.1
